<article class="card mt-3">
  <section class="card-header">
    <%= question.user.gravatar %>
    <%= question.user.name_or_email %>
  </section>

  <div class="card-body">
    <h4><%= question.title %></h2>

      <section class="card-text">
        <time datetime="<%= question.formatted_created_at %>">
          <small><%= question.formatted_created_at %></small>
        </time>

        <div class="my-2">
          <%= render question.tags %>
        </div>

        <p class="my-2">
          <%= truncate strip_tags(question.body), length: 150 %>
        </p>
      </section>

      <%= link_to 'Show', question_path(question), class: 'btn btn-primary' %>

      <% if policy(question).edit? %>
        <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %>
      <% end %>

      <% if policy(question).destroy? %>
      <%= link_to 'Destroy', question_path(question), class: 'btn btn-danger',
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      <% end %>
  </div>
</article>